{% extends 'base.html' %}
{%block title%} Change My Password {%endblock%}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="#">Change My Password</a></li>
{%endblock%}
{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" >
              {% csrf_token%}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary btn-block">Change My Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}